<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MaF admin</title>
		<link rel="stylesheet" href="/assets/styles/main.css">
	</head>
	<body>
	    <nav>
	    	<ul>
	    		<li>
	    			<a href="/admin/administrateurs">Administrateurs</a>
	    		</li>
	    	</ul>
	    </nav>
		{%block content%}

		{% endblock %}

		<footer>
			<p>Connecté en tant que : {{ app.session.get('user').userName }} {{ app.session.get('user').userSecondName }}</p>
			<a href="/admin/deconnexion">Déco</a>
		</footer>
	</body>
</html>