{% extends 'layouts/master.twig' %}
{% block content %}
	<div class="container-fluid offset-2 col-8 absolute-div">
		<div class="inscription-arian arian uppercase">
			<p><a href="">accueil</a> > <span><a href="">inscription</a></span></p>
		</div>
		<div class="inscription-simple text-center">
			<p class="uppercase title">une inscription<br/>
			<span>simple et efficace</span></p>
			<div class="uppercase inscription-txt">
			<p>il suffit de remplit le formulaire de candidature en ligne<br/> au plus tard le 30 janvier de l'année scolaire</p>
			</div>
			<div class="icone uppercase">
				<div class="profil step">
					<img src="assets/images/ico_inscription_step1.png">
					<h3>étape 1</h3>
					<p>mon profil</p>
				</div>
				<div class="dots">
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
				</div>
				<div class="formation step">
					<img src="assets/images/ico_inscription_step2.png">
					<h3>étape 2</h3>
					<p>ma formation</p>
				</div>
				<div class="dots">
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
				</div>
				<div class="employeur step">
					<img src="assets/images/ico_inscription_step3.png">
					<h3>étape 2</h3>
					<p>mon employeur</p>
				</div>
			</div>
			<div class="row">
				<a href="/candidate/create" class="col-4 offset-4 inscription-button">
					<div >
						<img src="assets/images/ico_inscription_blanc.png">
						<h3 class="uppercase">je m'inscris</h3>
					</div>
				</a>
			</div>
		</div>
		<div class="deroulement row">
			<div class="text-center col-6 offset-3">
				<h2 class="uppercase">Comment se deroule le concours?</h2>
			</div>
			<div class="col-6">
				<p><span>Chaque année, la Société des Meilleurs Ouvriers de France organise, le concours qui a pour objectif de participer à la promotion de la Voie proffessionelle sous status scolaire ou sous contrat d'apprentissage.</span></p>
				<p>Les candidats au titre de Meilleur Apprenti de France ont deux mois pour préparer leur oeuvre, Elle est ensuite écaluée par un jury composé de Meilleurs Ouvriers de France, de professionnels et d'enseignants.</p>
			</div>
			<div class="col-6">
				<p>Sont admis à participer au concours, les apprentis ou élèves en formation initial d'un métier et/ou ine année terminal CAP - BEP ou en année première et terminal BAC PRO en 3 ans ou MC.</p>
				<p>Pour participer au concours, tous les candidats doivent être âgés de moins de 21 ans (nés après le 1er janvier de la dernière année admissible). Pour plus d'information, consulter le régleent général du concours ci-dessous.</p>
			</div>
			<a href="" class="col-4 offset-4 uppercase text-center dl-button">
				télécharger le reglement
			</a>
		</div>
		<div class="steps text-center">
			<h1 class="uppercase">un concours en 3 étapes</h1>
			<div class="all-steps">
				<div class="departemental">
					<div class="blue-number"><span>1</span></div>
					<span class="uppercase">départemental</span>
				</div>
				<div class="dots">
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
				</div>
				<div class="regional">
					<div class="blue-number"><span>2</span></div>
					<span class="uppercase">régional</span>
				</div>
				<div class="dots">
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
					<div class="grey-dot"></div>
				</div>
				<div class="national">
					<div class="blue-number"><span>3</span></div>
					<span class="uppercase">national</span>
				</div>
			</div>
			<div><p><span class="uppercase">Le concours comprens trois niveaux de selections:<br/>départemental, régional et national</span></p>
			<p>Chaque candidat entame le concours au niveau départemental qui lui permettra d'accéder au concours régional s'il obtient <span>une médaille d'argent</span>ou <span>une médaille d'or</span>. Par la suite, il lui faudra obtenir <span>une médaille d'or</span> du concours réguinal pour pouvoir participer au concours nationale.</p></div>
		</div>
		<div class="medaille row">
			<h1 class="uppercase text-center col-6 offset-3">des récompenses<br/>prestigieuses</h1>
			<div class="row">
				<div class="col-6">
					<img src="assets/images/ico_medaille_or.jpg">
					<div class="medaille-txt">
						<p class="uppercase"><span>or</span></p>
						<p><span>16 points</span><br/>Oeuvre de bonne qualité</p>
					</div>
				</div>
				<div class="col-6">
					<p><span>C'est sur un système de notation en point des oeuvres que sont délivré, dans chaques spécialité, trois médailles, une d'or, une d'argent et une de bronze. Elles récompensent les meilleurs candidats et leur permet d'obtenir le status de Meilleur Apprenti de France.</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<img src="assets/images/ico_medaille_argent.jpg">
					<div class="medaille-txt">
						<p class="uppercase"><span>argent</span></p>
						<p><span>14 à 16 points</span><br/>Oeuvre au moindres défaults</p>
					</div>
				</div>
				<div class="col-6">
					<p>Chaques année, le tropphée de l'Apprentissage est également remis au plus jeune lauréat. Ces récompenses sont prestigieuses et valorisent l'exellence de l'apprenti, mais elles peuvent figurer sur les CV des candidats pour convaincre de futurs employeurs.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<img src="assets/images/ico_medaille_bronze.jpg">
					<div class="medaille-txt">
						<p class="uppercase"><span>bronze</span></p>
						<p><span>12 à 14 points</span><br/>Oeuvre à défaults ouune erreur mineure</p>
					</div>
				</div>
				<div class="col-6">
					<p>Par ailleur, les meilleurs apprentis peuvent aussi espérer concourir aux Olympiades des métiers une compétition international!</p>
				</div>
			</div>
			<a href="" class="col-4 offset-4 uppercase text-center palmares-button">
				Découvrir le palmares
			</a>
		</div>
	</div>
	<div class="background">
		<div class="inscription-banner"></div>
		<div class="long-red-bar"></div>
		<div class="bg-arian"></div>
		<div class="bg-inscription-simple"></div>
		<div class="bg-deroulement"></div>	
		<div class="bg-steps"></div>
		<div class="bg-medaille"></div>
	</div>
{% endblock %}