{% extends 'layouts/master.twig' %}
{% block content %}
	<div class="container-fluid offset-2 col-8 absolute-div">
		<div class="bienvenue">
			<h3 class="uppercase"><span>Bienvenue,</span><br/>
			dans le formulaire de préinscription</h3>
		</div>
		<div class="register-arian arian uppercase">
			<p><a href="">accueil</a> > <a href="/inscription">inscription</a> > <span><a href="">formulaire</a></span></p>
		</div>
		<div class="formulaire">

			<div class="commencer" {% if app.session.get('step') %} style="display:none;"{% endif %}>
				<h3 class="uppercase text-center">commençons<br/>
				voltre préinscription en ligne</h3>
				<p>Avant de commencer, munissez-vous des informations concernant <span>votre établissement de formation</span> et <span>votre contrat d'apprentissage</span>. Préparez également un scan recto/verso de <span>votre carte d'identité </span>et de <span>votre certificat de scolarité</span>.<br/>
				(format requis: pdf,docx ou jpg)</p>
				<p>Une fois tout ces éléments réunis, cliquez sur "<span>commencer</span>"</p>
				<a href="/"><button class="uppercase back">Retour</button></a>
				<a href="/candidate/start"><button type="submit" class="uppercase start">commencer</button></a>
			</div>

		{% if app.session.get('step') == 1 %}
			<div class="step1 doing">
		{% elseif app.session.get('step') >= 1 %}
			<div class="step1 done">
		{% else %}
			<div class="step1 todo">			
		{% endif %}
				<div class="mes-info title">
					<div class="white-step step text-center"><h3>1</h3></div>
					<h3 class="uppercase">Mes informations</h3>
				</div>
				<div class="formulaire">
					<form action="/candidate/create" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col-2">
								<label for="name">Nom: </label><br/>
								<label for="second_name">Prénom: </label><br/>
								<label for="born_date">Né(e) le: </label><br/>
								<label for="jobs">Métier: </label>
								<label for="mail">Adresse email: </label><br/>
							</div>
							<div class="col-4">
								<input required id="name" type="text" name="name" placeholder="Votre nom">
								<input required id="second_name" type="text" name="second_name" placeholder="Votre prénom">
								<input required id="born_date" type="text" name=" born_date" max="2017-01-01" placeholder="aaaa-mm-jj">
								<input required id="job" type="text" name="job" placeholder="Votre métier">
								<input required id="mail" type="email" name="mail" placeholder="Votre adresse email">
							</div>
							<div class="col-2">
							<label id="" for="address">Adresse: </label><br/>
							<label id="" for="postal_code">Code postal: </label><br/>
							<label id="" for="city">Ville: </label><br/>
							<label id="" for="department">Département: </label><br/>
							</div>
							<div class="col-4">
								<input required type="text" name="address" id="address" placeholder="Votre adresse">
								<input required type="text" name="postal_code" id="postal_code" placeholder="Votre code postal">
								<input required type="text" name="city" id="city" placeholder="Votre ville">
								<input required type="number" name="department" id="department" placeholder="Votre département" min="1" max="95">
							</div>
						</div>
						<div class="row annexe text-center">
							<h3 class="uppercase col-12 text-left">Document annexes</h3>
							<div class="col-3">
							<label for="identity_card">Carte d'identité<br/>
							recto/verso</label>
							</div>
							<div class="col-3">
								<input required type="file" name=" identity_card" id=" identity_card" accept=".pdf, .jpg, .jpeg">
							</div>
							<div class="col-3">
								<label for="school_certificate">Certificat de<br/>scolarité</label>
							</div>
							<div class="col-3">
								<input required type="file" name="school_certificate" id="school_certificate" accept=".pdf, .jpg">
							</div>
						</div>
						<a href="/"><button class="uppercase cancel">annuler</button></a>	
						<button type="submit" class="uppercase continue">poursuivre</button>
					</form>
				</div>
			</div>

		{% if app.session.get('step') == 2 %}
			<div class="step2 doing">
		{% elseif app.session.get('step') >= 2 %}
			<div class="step2 done">
		{% else %}
			<div class="step2 todo">			
		{% endif %}
				<div class="etablissement-formation title">
					<div class="white-step step text-center"><h3>2</h3></div>
					<h3 class="uppercase">établissement de formation</h3>
				</div>
				<div class="formulaire">
					<form action="/etashbliment/create" method="post">
						<div class="row">
							<div class="col-2">
								<label for="name">Établissement: </label><br/>
								<label for="postal_code">Code postal: </label><br/>
								<label for="phone">Téléphone</label><br/>
								<label for="former">Formateur</label><br/>
							</div>
							<div class="col-4">
								<input required type="text" name="name" id="name" placeholder="Nom de l'établissement">
								<input required type="text" name="postal_code" id="postal_code" placeholder="Code postal de l'établissement">
								<input required type="text" name="phone" id="phone" placeholder="Téléphone de l'établissement">
								<input required type="text" name="former" id="former" placeholder="Nom de votre formateur">
							</div>
							<div class="col-2">
								<label for="address">Adresse: </label><br/>
								<label for="city">Ville: </label><br/>
								<label for="mail">Email</label><br/>
							</div>
							<div class="col-4">
								<input required type="text" name="address" id="address" placeholder="Adresse de l'établissement">
								<input required type="text" name="city" id="city" placeholder="Ville de l'établissement">
								<input required type="email" name="mail" id="mail" placeholder="Email de l'établissement">
							</div>
						</div>
						<a href="/"><button class="uppercase cancel">précédent</button></a>	
						<button type="submit" class="uppercase continue">poursuivre</button>
					</form>
				</div>
			</div>

			{% if app.session.get('step') == 3 %}
				<div class="step3 doing">
			{% elseif app.session.get('step') >= 3 %}
				<div class="step3 done">
			{% else %}
				<div class="step3 todo">			
			{% endif %}
				<div class="contrat-apprentissage title">
					<div class="white-step step text-center"><h3>3</h3></div>
					<h3 class="uppercase">contrat d'apprentissage</h3>
				</div>
				<div class="formulaire">
					<form action="/contract/create" method="post">
						<div class="row">
							<div class="col-2">
								<label for="name">Établissement: </label><br/>
								<label for="postal_code">Code postal: </label><br/>
								<label for="phone">Téléphone</label><br/>
								<label for="employer">Employeur</label><br/>
							</div>
							<div class="col-4">
								<input required type="text" name="name" id="name" placeholder="Nom de l'employeur">
								<input required type="text" name="postal_code" id="postal_code" placeholder="Code postal de l'employeur">
								<input required type="text" name="phone" id="phone" placeholder="Téléphone de votre employeur">
								<input required type="text" name="employer" id="employer" placeholder="Nom de votre employeur">
							</div>
							<div class="col-2">
								<label for="address">Adresse: </label><br/>
								<label for="city">Ville: </label><br/>
								<label for="mail">Email</label><br/>
							</div>
							<div class="col-4">
								<input required type="text" name="address" id="address" placeholder="Adresse de l'employeur">
								<input required type="text" name="city" id="city" placeholder="Ville de l'employeur">
								<input required type="email" name="mail" id="mail" placeholder="Email de l'employeur">
							</div>
						</div>
						<a href="/"><button class="uppercase cancel">précédent</button></a>	
						<button type="submit" class="uppercase continue">poursuivre</button>
					</form>

				</div>
			</div>

			{% if app.session.get('step') == 4 %}
				<div class="step4 doing">
			{% elseif app.session.get('step') >= 4 %}
				<div class="step4 done">
			{% else %}
				<div class="step4 todo">			
			{% endif %}
				<div class="comfirmation title">
					<div class="white-step step text-center"><h3>4</h3></div>
					<h3 class="uppercase">réglement et confirmation</h3>
				</div>
				<div class="formulaire">
					<form method="post" action="/candidate/save">
						<div class="row">
							<div class="col-8 offset-2 pdf">
								<embed src="/assets/pdf/reglement_du_concours_2017.pdf" width="100%"  height="600rem"/>
							</div>
							<div class="col-8 offset-2">
									<input required class="form-check-input" type="radio" name="prise-en-conscience" id="prise-en-conscience" value="">
									<label>j'ai pris connaissance et j'accepte le réglement général du concour maf</label>
								<button type="submit">S'inscrire</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			{% if app.session.get('step') == 5 %}
				<div class="finished" style="display:block">
			{% else %}
				<div class="finished" style="display:none">			
			{% endif %}
				<div class="col-8 offset-2">
					<h1 class="uppercase text-center">Félicitations</h1>
					<p><span>Votre demande d'inscription au concours du meilleur apprentis de france a bien été prise en compte</span></p>
					<p>Vous allez recevoir sous peu un email de comfirmation contenant vos <span>identifiants de connexion</span> à <span>votre compte de candidature</span>. La validation de votre inscription au concours sera effectué très prochainement par le président de votre département. Toutes les informations concernants le sujet des épreuves vous seront également communiquées par email. Elles seront également disponibles sur notre site et dans votre espace personnel.</p>
					<p>Nous vous remercions pour l'intêret que vous portez à notre concours et nous souhaitons la meilleure réussite possible.</p>
					<p><span>La SnMOF.</span></p>
					<a href="/"><button class="uppercase">Retourner sur le site</button></a> 
				</div>
			</div>
			<div class="mentions">
				<p>Les informations fournies par les participants sous leur responsabilité, devront être exactes, licites et ne pas nuire aux intérêts des tiers. Leur publication peut faire l’objet d’une procédure de validation en particulier pour la qualité de Meilleur Ouvrier de France où l’usage abusif du Titre est passible de poursuites. Les informations recueillies sont tenues strictement confidentielles et sont destinées à l’usage exclusif des services de la SnMOF. Pour toute information sur la protection des données personnelles, vous pouvez consulter le site de la Commission Informatique et Liberté <span><a href="http://www.cnil.fr">http://www.cnil.fr</a>.</span> Les participants ont à tout moment la possibilité d’exercer leurs droits d’accès, de modification, de rectification et de suppression des données qui les concernent (Art. 34 de la Loi Informatique & Libertés du 6 janvier 1978). La SnMOF s’engage à donner suite à toute demande dans les plus brefs délais. La Société nationale des Meilleurs Ouvriers de France est susceptible de transmettre votre adresse électronique afin de faciliter tout contact avec un adhérent ou pour tout autre demande. en cas d’opposition merci de lors de la saisie des formulaires d’inscription de cocher la case disponible sur le formulaire.</p>
			</div>
		</div>
	</div>
	<div class="background">
		<div class="bg-bienvenue"></div>
		<div class="long-red-bar"></div>
		<div class="bg-arian"></div>
		<div class="bg-formulaire"></div>
	</div>
{% endblock %}